body{
    background-color: #EDDDD0;
    width: 100%;
    min-height: 100vh;
     background: linear-gradient(
      to right,
      #F9F3EC 18%,
      #EDDDD0 0%,
      #EDDDD0 100%
    ) 
}

.mainc {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: repeat(1fr 2fr);
    
}

.mynotes {
    margin-left: 10px;
    font-family: 'Roboto Mono', monospace;
    color:#55869b;
}

.notes {
    list-style-type: square;
}

.notes a {
    text-decoration: none;
    color:#55869b;
    font-family: 'Roboto Mono', monospace;
}

.TButton {
    display:flex;
}

.BButton {
    display:flex;
    gap: 5px;
    margin-left: auto
}

.snt {
    width: 80px;
    border:0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: white;
    background-color: #5394A0;
    border-radius: 10px;
}

.ccnt {
    width: 80px;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: white;
    background-color: #D9827C;
    border-radius: 10px;
}


.Nnt {
    width: 120px;
    border:0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-right: auto;
    color: white;
    background-color: #5394A0;
}

.DkMd {
    text-align: center;
    line-height: 2.5;
    width: 120px;
    right: 10px;
    padding:0 20px;
    border: 0;
    border-radius: 10px;
    margin-bottom: 5px;
    color: white;
    background-color: #6F6A87;
    
}

.BBu {
    display:flex;
    gap: 5px
}


textarea {
    height: 300px;
    border: 4px solid; 
    margin-top: 5px;
    width: 98%;
    background-color:#F9F3EC;
    border: 4px solid cornflowerblue;
}

.AbDoc {
    display: flex;
    justify-content:space-around;
    justify-content: end;
    gap:8px  
}

.AbDoc a {
    font-family: 'Roboto Mono', monospace;
    color:#55869b;
    text-decoration: none;
}




.clgn {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color:#55869b;
} 


.content-list{
    list-style-type: none;
    padding:0;
    display: flex;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
    color:#55869b;
}

@media screen and (max-width:600px) {
    .mainc {
        grid-template-rows: repeat(1fr, 2fr);
        grid-template-columns: 100%;
    }
    body {
        background: #EDDDD0 100%;
    }
   
}

.black{
    text-align: center;
    line-height: 2.5;
    width: 120px;
    right: 10px;
    padding:0 20px;
    border: 0;
    border-radius: 10px;
    margin-bottom: 5px;
    color: white;
    background-color: black;
}

body.dark {
    background-color: #333;
    width: 100%;
    min-height: 100vh;
     background: linear-gradient(
      to right,
      black 18%,
      #333 0%,
      #333 100%
    ) 
}

textarea.dark {
    height: 300px;
    border: 4px solid; 
    margin-top: 5px;
    width: 98%;
    background-color:black;
    border: 4px solid cornflowerblue;
}

